.header {
    background: linear-gradient(135deg, #4a90e2, #f06);
    height: max-content;
    text-align: center;
    color: white;
    font-size: 32px;
    padding: 1rem 0;
    flex: 1;
    background: linear-gradient(135deg, #4a90e2, #7b1fa2) !important;
}