$primary-color: #4a90e2;
$accent-color: #7b1fa2;
$background-color: #f4f4f4;
$text-color: #ffffff;
$text-dark-color: #333333;
$box-shadow-color: rgba(0, 0, 0, 0.1);

.home {
    background-color: $background-color;
    // padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #f4f4f4;
    /* padding: 40px; */
    min-height: 100vh;
    display: flex
;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    max-height: 100vh;
    overflow: hidden;
}

.container {
    width: 95%;
    /* max-width: 1200px; */
    /* margin: 43px; */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    /* flex: 1; */
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .page-title {
        font-size: 2rem;
        font-weight: 700;
        color: $primary-color;
    }
}

.add-task-btn {
    background-color: $accent-color;
    color: $text-color;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    gap: 10px;
    
    &:hover {
        background-color: darken($accent-color, 10%);
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}

.task-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    max-height: 60vh;

    .task-card {
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 10px $box-shadow-color;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
        }
    }

    .empty-task-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
        border: 2px dashed $primary-color;
        background-color: #f9f9f9;
        border-radius: 12px;
        transition: background-color 0.3s;

        h2 {
            font-size: 1.5rem;
            color: $primary-color;
            margin-bottom: 10px;
        }

        span {
            color: #777;
        }

        &:hover {
            background-color: rgba(74, 144, 226, 0.1);
        }
    }
}
