<!-- <div class="parent">
  <div class="main">
    <div class="app-state">
      <h1>This is App State</h1>
      <h2>{{initialState.user?.user || 'Null User'}}</h2>
    </div>
    <div class="box" routerLink="/angular">
      <h3>Load Angular MFE</h3>
    </div>
  </div>
  <div class="main">
    <div class="box" routerLink="/react">
      <h3>Load React MFE</h3>
    </div>
  </div>
</div> -->

<!-- <app-header></app-header> -->
<!-- <react-component1 #reactComponent1 id="react-component1" [prop1]="propsMap.prop1"></react-component1> -->
<!-- <react-component1 
#reactComponent1 
[attr.prop1]="propsMap.prop1" 
[attr.prop2]="propsMap.prop2"
[attr.executer]="executer()"
></react-component1> -->


<router-outlet></router-outlet>
